@page "/create-table"
@using Core.Interfaces
@inject IITableService ITableService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Forms
@rendermode InteractiveServer

<PageTitle>Create Table</PageTitle>

<h3>Create Table</h3>

<EditForm Model="newTable" OnValidSubmit="AddTable">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="newTable.Name" />
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <InputNumber id="description" class="form-control" @bind-Value="newTable.Number" />
    </div>
    <button type="submit" class="btn btn-primary">Create table</button>
</EditForm>